body{
    background-image: url(../img/bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}
h1{
    font-family: 'Black Ops One', cursive;
    font-size: 450%;
    text-align: center;
    text-shadow: 1px 1px 5px rgb(117, 9, 9);
}

.container{
    background-color: rgba(238, 205, 115, 0.9);
    border: 5px solid rgb(117, 9, 9);
    border-radius: 15px;
}

img{
    box-shadow: 2px 2px 5px black;
}

.btn{
    background-color: rgb(117, 9, 9);
    border: black 1px solid;
    box-shadow: none;
}

strong{
    color: rgb(117, 9, 9);
    font-variant: small-caps;
}

.card{
    margin: auto;
}